In [3]:
import pandas as pd
import numpy as np
import os

In [6]:
os.chdir("C:/Users/Elijah/Desktop/results-including-0-scores")
allData = pd.DataFrame()
for filename in os.listdir(os.getcwd()):
    file = pd.read_csv(filename)
    allData = pd.concat([allData, file])

In [8]:
allData2 = allData.drop(allData.columns[[0,1]], axis=1)

In [15]:
allData2.dtypes

Year                         int64
Semester                    object
Quiz #                      object
Student ID                  object
Coding Problem              object
Score                      float64
Maximum                      int64
Distance                   float64
Percent                    float64
Distance Z-score           float64
Distance Min-Max Scaled    float64
dtype: object

In [26]:
students_mean = allData2.groupby("Student ID").mean()

In [28]:
zscore = students_mean.loc[:, ['Distance Z-score', 'Distance Min-Max Scaled']]

In [29]:
students_sum = allData2.groupby("Student ID").sum()

In [30]:
grades = students_sum.loc[:, ['Score', 'Maximum']]

In [32]:
students = zscore.join(grades)

In [33]:
students

            Distance Z-score  Distance Min-Max Scaled  Score  Maximum
Student ID
s1041b5c9           0.762457                 0.348605   51.0      200
s1052bd77           0.214526                 0.292264   13.0       81
s106e6058          -0.055967                 0.166713  122.0      164
s116f876e          -0.200226                 0.157200  263.0      299
s1187ca0f           1.748974                 0.420951    0.0       50
...                      ...                      ...    ...      ...
sfeb87ba8          -0.022967                 0.179125  105.0      174
sfeb9f2b1          -0.346523                 0.118333  283.0      294
sfefcd29e          -0.372204                 0.105349  144.0      254
sff6cfe28          -0.306760                 0.116633  289.0      299
sffae1858          -0.266476                 0.125698  234.0      264

[867 rows x 4 columns]