In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [3]:
program_data = pd.read_csv("allStudentProgramsDataWith0Score.csv")

In [7]:
program_data = program_data.drop(program_data.columns[0], axis=1)

In [9]:
program_data.describe()

,Year,Score,Maximum,Distance,Percent,Distance Z-score,Distance Min-Max Scaled
count,19284.000000,19281.000000,19284.000000,19284.000000,19284.000000,1.928400e+04,19284.000000
mean,2017.115795,7.976194,9.998133,78.124529,0.427587,1.766028e-17,0.187500
std,0.797250,8.647080,9.012095,66.439009,0.182494,1.000026e+00,0.207079
min,2016.000000,0.000000,5.000000,0.000000,0.000000,-1.910580e+00,0.000000
25%,2016.000000,5.000000,5.000000,43.199718,0.309656,-6.977798e-01,0.039197
50%,2017.000000,6.000000,10.000000,63.685376,0.411573,-3.217018e-01,0.117253
75%,2018.000000,10.000000,10.000000,90.771242,0.522169,3.894243e-01,0.250052
max,2018.000000,50.000000,50.000000,762.881119,1.000000,1.100203e+01,1.000000

In [15]:
full_program_data = pd.read_csv("fullScoreProgramData.csv")

In [17]:
full_program_data = full_program_data.drop(full_program_data.columns[0], axis=1)

In [19]:
full_program_data.describe()

,Year,Score,Maximum,Distance,Percent,Distance Z-score,Distance Min-Max Scaled
count,12475.000000,12475.000000,12475.000000,12475.000000,12475.000000,1.247500e+04,12475.000000
mean,2017.149178,9.222285,9.222285,62.406889,0.421066,5.483923e-17,0.186025
std,0.796587,7.932205,7.932205,48.059888,0.190289,1.000040e+00,0.222804
min,2016.000000,5.000000,5.000000,3.628415,0.044302,-1.347123e+00,0.000000
25%,2016.000000,5.000000,5.000000,36.167117,0.294945,-6.572507e-01,0.029347
50%,2017.000000,10.000000,10.000000,51.792453,0.396125,-3.437902e-01,0.101183
75%,2018.000000,10.000000,10.000000,74.931457,0.516451,2.903027e-01,0.252425
max,2018.000000,50.000000,50.000000,670.230769,1.000000,8.889733e+00,1.000000

In [22]:
full_program_data.dtypes

Year                         int64
Semester                    object
Quiz #                      object
Student ID                  object
Coding Problem              object
Score                        int64
Maximum                      int64
Distance                   float64
Percent                    float64
Distance Z-score           float64
Distance Min-Max Scaled    float64
dtype: object

In [13]:
student_data = pd.read_csv("allStudentDataIncluding0Score.csv")

In [14]:
student_data.describe()

,Distance Z-score,Distance Min-Max Scaled,Score,Maximum,Score / Maximum %
count,867.000000,867.000000,867.000000,867.000000,867.000000
mean,0.080228,0.201415,177.380623,222.380623,0.729977
std,0.632340,0.121649,93.437512,88.581341,0.248439
min,-0.735351,0.048236,0.000000,10.000000,0.000000
25%,-0.334405,0.118334,108.500000,174.000000,0.624188
50%,-0.123954,0.160428,195.000000,244.000000,0.805621
75%,0.275476,0.236679,257.000000,289.000000,0.914216
max,6.120004,0.824662,471.000000,577.000000,1.000000

In [23]:
student_data_full = pd.read_csv("allStudentData.csv")

In [25]:
student_data_full.describe()

,Distance Z-score,Distance Min-Max Scaled,Score,Maximum,Score / Maximum %,Z-score of 100% Submissions
count,816.000000,816.000000,816.000000,816.000000,816.000000,816.000000
mean,0.028627,0.192258,188.149510,233.694853,0.768904,0.057713
std,0.580855,0.111560,85.426033,77.955839,0.195759,0.776024
min,-0.735351,0.048236,6.000000,10.000000,0.079646,-0.948606
25%,-0.348480,0.116687,125.750000,194.000000,0.663424,-0.379708
50%,-0.143393,0.157352,205.500000,250.500000,0.822376,-0.171458
75%,0.200426,0.221766,260.000000,289.000000,0.919732,0.162360
max,6.120004,0.817055,471.000000,577.000000,1.000000,7.433023