In [26]:
import os
import pandas as pd

In [84]:
os.chdir("C:/Users/Elijah/Desktop/results-only-full-scores")
data = pd.read_csv("RecursiveHasCar.csv")
data['bins'] = pd.cut(x=data['Distance Z-score'], bins=3)

In [85]:
data.groupby('bins').sample(n=1)

,Unnamed: 0,Year,Semester,Quiz #,Student ID,Coding Problem,Score,Maximum,Distance,Percent,Distance Z-score,Distance Min-Max Scaled,bins
13,13,2016,fall,quiz04,s62165836,SumMultX,5,5,51.500000,0.39737,0.481548,0.212470,"(-0.786, 1.199]"
41,41,2017,fall,quiz04,s353a060b,SumMultX,5,5,69.316327,0.53484,1.548217,0.392119,"(1.199, 3.178]"
63,63,2018,spring,quiz04,s12bfba84,SumMultX,5,5,129.602041,1.00000,5.157541,1.000000,"(3.178, 5.158]"